<div class="container">
  <div class="row">
    <div
      *ngFor="let character of characters"
      class="col-md-4 col-lg-4 col-12 mt-3 mb-3"
    >
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title ml-5">
            {{ character.id }} - {{ character.name }}
          </h5>
          <img src="{{ character.image }}" class="card-img-top" alt="nombre" />

          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ character.status }}</li>
            <li class="list-group-item">{{ character.species }}</li>
            <li class="list-group-item">
              {{ character.url }}
            </li>

            <li class="list-group-item">{{ character.gender }}</li>
            <li class="list-group-item">
              {{ character.created | date: "yyyy-MM-dd - hh:mm:ss" }}
            </li>
          </ul>

          <a
            href="https://rickandmortyapi.com/"
            target="_blank"
            class="btn btn-primary btn-block"
            >Ver más</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
