<!-- aca mostramos el listado que se ve reflejado en el html del home -->
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{ indice + 1 }}
        {{ empleadoLista.nombre }}
        {{ empleadoLista.apellido }}
        {{ empleadoLista.cargo }}
        {{ empleadoLista.salario }}
        <!-- aca meto un vinculo para redirigir con vinculo
        1) href="http://"
        2)routerLink

        DEBO MODIFICAR EL ROUTING PARA QUE LA RUTA RECIBA EL INDICE/ ID
        -->
        <a [routerLink]="['/actualiza', indice]"> Actualizar </a>
        <a [routerLink]="['/delete', indice]" style="margin-left: 5px">
          Eliminar
        </a>
      </div>

      <!--  aca agrego el componente nieto adentro del hijo  -->

      <app-empleado-nieto
        (caract_emple_nieto)="AddCaracteristicas($event)"
      ></app-empleado-nieto>
      <ul class="list-style-type:none;">
        <li *ngFor="let caracteristica of arrays">
          {{ caracteristica }}
        </li>
      </ul>
    </div>
  </div>
</div>
