<!--


  <div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{ indice + 1 }} {{ empleadoLista.nombre }}
        {{ empleadoLista.apellido }} {{ empleadoLista.cargo }}
        {{ empleadoLista.salario }}
      </div>
      aca agrego el componente nieto adentro del hijo
      <app-empleado-nieto
        (caracteristicaEmpleadoNieto)="AgregarCaracteristica($event)"
      ></app-empleado-nieto>
      <ul class="list-style: none">
        <li *ngFor="let caracteristica of arrayCaracteristica">
          {{ caracteristica }}
        </li>
      </ul>
    </div>
  </div>
</div>

 -->
