<div class="container">
  <form action="">
    <label for="nombre" name="nombre">Nombre:{{ nombre }}</label>
    <br /><br />
    <label for="apellido" name="apellido">Apellido:{{ apellido }}</label>
    <br /><br />
    <label for="edad" name="edad">Edad:</label>{{ edad }}<br /><br />
    <label for="empresa" name="empresa">Empresa:</label>{{ empresa
    }}<br /><br />
  </form>
</div>
<br /><br />

<!-- eventos

º (click)="nombre_funcion()"
º (keyup)="0"

Referencia entre plantillas templateas
#empleado

-->

<!-- binding

() de la vista al ts :event-binding
[] del ts a  la vista

[()] bananaBox

-->
<h3>Bindign</h3>
TEXTO: {{ empleado.value }}
<br />

<!-- referencia #Empleado -->
Input:<input type="text" (keyup)="(0)" #empleado [disabled]="habilitado" />
<br />
Registrado:<input
  type="checkbox"
  name="registro"
  id="registro"
  [checked]="registrado"
/>

<br /><br />
<!--<button (click)="Dale()">Dale</button>  -->

<button (click)="getRegistro($event)">HabilitarRegistado</button>

<br />
<p>{{ mensaje }}</p>

<br /><br /><br /><br />

<h3>Event - Binding del html al ts</h3>

Empresa:{{ NombreEmpresa }}
<br />
<!--
  con eventBinding es asi
  (input)="CambiaEmpresa($event)"

////////////////

con binding bananaBox
NombreEmpresa: <input type="text" [(ngModel)]="NombreEmpresa" />
-->
NombreEmpresa: <input type="text" [(ngModel)]="NombreEmpresa" />
