<h1 class="text-align:center">{{ titulo }}</h1>

<div class="container content-fluid">
  <form action="">
    <label for="nombre">Nombre: </label>
    <input type="text" [(ngModel)]="nombre" id="nombre" name="nombre" />
    <br />
    <br />
    <label for="apellido">Apellido: </label>
    <input type="text" [(ngModel)]="apellido" id="apellido" name="apellido" />
    <br />
    <br />
    <label for="cargo">Cargo: </label>
    <input type="text" [(ngModel)]="cargo" id="cargo" name="cargo" />
    <br />
    <br />

    <input type="submit" (click)="RegistrarUsuario($event)" />
  </form>
</div>

<br />

<!-- primera directiva : uso del *ngIf -->
<p *ngIf="bandera; else sinRegistrar">
  {{ mensaje }} que tiene el cargo de

  <!-- podemos modificar:
    1) el archivo en el propio html:
     [ngStyle]="{ color: cargo == 'director' ? 'red' : 'black' }"
     o
     2) en un archivo externo css-> 'app.component.css'
    [ngClass]="{ paraDirectores: cargo == 'directores' }"

    -->

  <span [ngClass]="{ paraDirectores: cargo == 'director' }">{{ cargo }}</span>
  se ha Registrado con exito 🚀`
</p>

<ng-template #sinRegistrar>
  <p class="">sin Registrar</p>
</ng-template>

<br /><br /><br />

<!-- uso del *ngFor -->
<ul *ngFor="let entrada of entradas; let i = index">
  <li>
    {{ i + 1 }} :
    {{ entrada.titulo }}
  </li>
</ul>

<router-outlet></router-outlet>
